<ion-content [fullscreen]="true">

  <ion-img class="ion-padding-horizontal ion-padding-vertical" src="../../assets/images/Logo_DuocUC.svg"></ion-img>

  <ion-title class="ion-text-center ion-padding-vertical">
    <h1>Sistema de Asistencia DuocUC</h1>
  </ion-title>

  <!-- Card login -->
  <ion-card class="ion-padding-vertical">
    <!-- Card Tittle -->
    <ion-card-title class="ion-text-left ion-padding-horizontal">
      <ion-label>Login</ion-label>
    </ion-card-title>

    <form>
      <ion-card-content>
        <!-- input correo -->
        <ion-item>
          <ion-input type="text" label="Correo Institucional" labelPlacement="floating" name="correo" placeholder="Awesome Input"></ion-input>
        </ion-item>
        <!-- Input contraseña -->
        <ion-item>
          <ion-input type="text" label="Contraseña" labelPlacement="floating" name="password" placeholder="Awesome Input"></ion-input>
        </ion-item>
        <!-- Boton ingresar -->
        <ion-button (click)="ingresar()" shape="block">
          Ingresar
        </ion-button>

      </ion-card-content>
    </form>

  </ion-card>
</ion-content>
