.contendorDatos{
    border: solid black;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
ul {
    list-style-type: none;
  }
.listaDatos{
    padding: 5px;
}  
.contentDatos{
    padding: 5px;
}
.contenedorLogo{
    display: flex;
    justify-content: flex-start;
}
.tituloSistema{
    
    display: flex;
    align-items: center;
}
