<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar class="titulo">
    <ion-grid >
      <ion-row class="contenedorLogo">
        <ion-col style="max-width: 185px;">
          <ion-img src="../../assets/images/Logo_DuocUC.svg"></ion-img>
        </ion-col>
        <ion-col class="tituloSistema" style="max-width: 300px;">
          <ion-title #titulo style="max-width: 300px;">
            Sistema de Asistencia Duoc
          </ion-title>
        </ion-col>
        <ion-col>
          <ion-button color="warning" style="max-width: 10px;" (click)="signOut()" expand="block" fill="clear" shape="round">
            <ion-icon slot="start" name="log-out"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background-image"></div>
  <div class="content">
    <ion-card class="ion-padding gray-opaque">
      <ion-card-title>Bienvenido {{ usuario.nombre }}</ion-card-title>
      <ion-card-title>Escanea el código QR <br> para registrar tu asistencia a clases</ion-card-title>
    </ion-card>

    <ion-card class="ion-padding gray-opaque">
      <ion-button color="warning" class="botonQR" *ngIf="!escaneando" (click)="scanQR()" fill="clear" shape="square">
        <ion-icon slot="start" name="videocam-outline"></ion-icon>
        Escanear QR
      </ion-button>
    
      <ion-button color="warning" class="botonQR" *ngIf="escaneando" (click)="stopScanQR()" fill="clear" shape="square">
        <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
        Detener escaneo
      </ion-button>
    
      <video #video [hidden]="!escaneando" width="100%"></video>
      <canvas #canvas hidden></canvas> 
    </ion-card> 
  </div>  
</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title>
            <ion-button (click)="homeRedirect()" fill="clear" color="warning" shape="square">
              <ion-icon slot="start" name="home"></ion-icon>
              Inicio
            </ion-button >
          </ion-title>
        </ion-col>
        <ion-col>
          <ion-title>
            <ion-button (click)="miClaseRedirect()" fill="clear" color="warning" shape="square">
              <ion-icon slot="start" name="book"></ion-icon>
              Mi Clase
            </ion-button>
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>

    
  </ion-toolbar>
</ion-footer>