<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar class="titulo">
    <ion-grid >
      <ion-row class="contenedorLogo">
        <ion-col style="max-width: 120px;">
          <ion-img class="ion-padding-horizontal ion-padding-vertical" style="max-width: 120px;" src="../../assets/images/Logo_DuocUC.svg"></ion-img>
        </ion-col>
        <ion-col class="tituloSistema" style="max-width: 300px;">
          <ion-title #titulo style="max-width: 300px;">
            Sistema de Asistencia Duoc
          </ion-title>
        </ion-col>
        <ion-col>
          <ion-button color="warning" style="max-width: 10px;" (click)="signOut()" expand="block" fill="clear" shape="round">
            <ion-icon slot="start" name="log-out"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-align-items-center">
  <ion-title class="ion-padding-top">
    <ion-label class="ion-text-center">
      <h1>¡Bienvenido!</h1>
      <p>{{ usuario.nombre }}</p>
      <h2>Escanea el código QR <br> para registrar tu asistencia a clases</h2>
    </ion-label>
  </ion-title>

  <ion-button color="warning" class="botonQR" *ngIf="!escaneando" (click)="scanQR()" fill="clear" shape="square">
    <ion-icon slot="start" name="videocam-outline"></ion-icon>
    Escanear QR
  </ion-button>

  <ion-button color="warning" class="botonQR" *ngIf="escaneando" (click)="stopScanQR()" fill="clear" shape="square">
    <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
    Detener escaneo
  </ion-button>

  <video #video [hidden]="!escaneando" width="100%"></video>
  <canvas #canvas hidden></canvas>
</ion-content>

<!-- Footer -->
<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-title>
            <ion-button (click)="homeRedirect()" fill="clear" color="warning" shape="square">
              <ion-icon slot="start" name="home"></ion-icon>
              Inicio
            </ion-button>
          </ion-title>
        </ion-col>
        <ion-col>
          <ion-title>
            <ion-button (click)="miClaseRedirect()" fill="clear" color="warning" shape="square">
              <ion-icon slot="start" name="book"></ion-icon>
              Mi Clase
            </ion-button>
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>

    
  </ion-toolbar>
</ion-footer>